<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gachitayobe.mapper.PostMapper">

    <sql id="postColumns">
        u_id
        ,title
        ,content
		, start_x
        , start_y
		, start_address
		, start_name
        , end_x
        , end_y
		, end_address
		, end_name
        , start_date
        , total_member
    </sql>

    <insert id="postWrite" parameterType="PostDto">
        INSERT INTO POST (
        <include refid="postColumns" />
        ) VALUES (
        #{uId}
        ,'test'
        ,'test'
        , 3
        , 3
        , #{startAddress}
        , #{startName}
        ,3
        ,4
        , #{endAddress}
        , #{endName}
        , #{startDate}
        , #{totalMember}
        )
    </insert>

    <select id="getPostDetail" parameterType="int" resultType="PostDetailDto">
        SELECT POST.u_id, U.name, U.score, p_id, DATE_FORMAT(start_date, '%Y') as year, DATE_FORMAT(start_date, '%m') as month, DATE_FORMAT(start_date, '%d') as day, DATE_FORMAT(start_date, '%p') as time, DATE_FORMAT(start_date, '%h') as hour, DATE_FORMAT(start_date, '%i') as minute, start_x, start_y, start_name, start_address, end_x, end_y, end_name, end_address, total_member, (total_member-current_member) as remain_member
        FROM POST INNER JOIN USER U on POST.u_id = U.u_id
        WHERE p_id=#{p_id};
    </select>

    <select id="getRemainSeat" parameterType="int" resultType="int">
        SELECT seat_number FROM SEAT_NUMBER WHERE seat_number not in (SELECT seat_number FROM MEMBER WHERE p_id=#{p_id});
    </select>

    <select id="getAllPosts" resultType="PostDto">
        SELECT * FROM POST order by created_at desc ;
    </select>

    <select id="getSearchedPosts" parameterType="PostXYDto" resultType="PostDto">
        SELECT *,(6371*acos(cos(radians(#{startY}))*cos(radians(start_y))*cos(radians(start_x)-radians(#{startX}))
        +sin(radians(#{startY}))*sin(radians(start_y)))) AS distance
        , (6371*acos(cos(radians(#{endY}))*cos(radians(end_y))*cos(radians(end_x)-radians(#{endX}))
        +sin(radians(#{endY}))*sin(radians(end_y)))) AS distance
        FROM POST
        having distance <![CDATA[ <= ]]> #{radius} and distance <![CDATA[ <= ]]> #{radius};
    </select>

    <update id="getLonLat" parameterType="PostXYDto">
        UPDATE POST
        SET startX = #{startX}, startY = #{startY}, endX = #{endX}, endY = #{endY}
    </update>



</mapper>