<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gachitayobe.mapper.ReservationMapper">

    <sql id="ReservationColumns">
        u_id
        , p_id
		, seat_number
    </sql>

    <insert id="createReservation" parameterType="reservationDto">
        INSERT INTO MEMBER (
        <include refid="ReservationColumns" />
        ) VALUES (
        #{u_id}
        , #{p_id}
        , #{seat_number}
        )
    </insert>

    <select id="getReservationExists" parameterType="reservationDto" resultType="int">
        select EXISTS(SELECT * FROM MEMBER WHERE p_id=#{p_id} and u_id=#{u_id}) as exist;
    </select>

    <select id="getReservationHistory" parameterType="int" resultType="reservationHistoryDto">
        SELECT p_id,
               start_address,
               start_name,
               end_address,
               end_name,
               DATE_FORMAT(start_date, '%Y-%m-%d %H:%i') as start_date,
               done
        FROM POST
        WHERE p_id in (SELECT p_id FROM MEMBER WHERE u_id=#{u_id})
        ORDER BY created_at desc;
    </select>

    <select id="getReservationUserInfo" parameterType="int" resultType="reservationUserDto">
        SELECT U.u_id, name, seat_number
        FROM MEMBER M
                 INNER JOIN USER U on U.u_id = M.u_id
        WHERE p_id = #{p_id}
    </select>
</mapper>